@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.div{
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
  background-color: #334075;
  color: #05c7f299;
}

.div p {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  margin: 0%;
  padding: 0%;
 /*  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, #05c7f299);
  background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.div  h1{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 100;
  position: relative;
}

.div  h1::before{
  content: "#30diasdecss";
  position: absolute;
  color: #F2294E;
  height: 100%;
  width: 0%;
  overflow: hidden;
  transition: linear 1s ;
}
.div p::before {
  content: "Dia16";
  position: absolute;
  color: #F2294E;
  width: 0%;
  height: 100%;
  overflow: hidden;
  transition: linear 0.6s ;
}

.div h1:hover:before, .div p:hover:before{
  /* transition: linear 1s ; */
  width: 100%;
  
}

