.section {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100%; */
  /* width: 600px; */
  /* margin: 0 auto; */
  /* height: 400px; */
  /* flex-direction: column; */
  position: relative;
  background-color: #505050;
  box-shadow: 0px 0px 10px black;
  border-radius: 20px;
}

.carousel {
  border-radius: 20px;
  background-color: white;
  height: 300px;
  width: 535px;
  overflow: auto;
}

.navegacao {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 10px;
}

.bar {
  width: 30px;
  height: 20px;
  box-shadow: 0 0 4px yellow;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;
}

.bar:hover {
  background-color: white;
}

.slides {
  display: flex;
  width: 2900%;
  height: 100%;
  /* gap: 20px; */
}

.slides input{
  display: none;
}



.imgSlide {
  width: 100%;
  transition: .6s;
  /* height: 100%; */
  /* box-shadow:0px 0px 3px black, 2px 2px 3px black; */
}

.imgSlide img {
  width: 100%;
}

.slides input:nth-child(1):checked  .imgSlide:nth-child(1){
  margin-left: 0%;
}
.slides input:nth-child(2):checked  .imgSlide:nth-child(1) img{
  margin-left: -100%;
}


/* .imgSlide:nth-child(1){
  margin-left: -100%;

} */


/* .btnR{
  position: absolute;
  top: 10%;
  right: 20%;
  padding: 10px;
  
}
.btnL{
  position: absolute;
  top: 10%;
  left: 20%;
  padding: 10px;
  
} */