/* #f2e2ce #bfb634 #bf7d2c */

@import url('https://fonts.googleapis.com/css2?family=Anton:wght@300;400;600;700;800;900&display=swap');

.div{
  height: 100vh;
  background-color: #f2e2ce;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}
.adesivo{
  position: relative;
  width: 180px;
  height: 180px;
 
  transition: 1s;
}
.adesivo div{
  position: absolute;
  width: 180px;
  height: 180px;
  left: 0;
  top: 0;
  
  overflow: hidden;
  /* background-color: #bf7d2c; */
}

.adesivo .circulo{
  position: absolute;
  height: 140px;
  width: 140px;
  border-radius: 25px; 
  margin: 20px;  
  transition: 1s;
  cursor: pointer;

}

.plasticoFrente .circulo{
  margin-top: -10px;
  background-color: #bf7d2c;
  
  background-image: -webkit-linear-gradient(bottom,
  rgba(251,236,63,.0) 75%, #3f2301 95%);

  

}
.plasticoTraz .circulo{
  margin-top: -130px;
  background-color: #bf7d2c;
  
}

.content .circulo{
  background-color: #bfb634;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.adesivo .plasticoFrente{
  height: 150px;
  bottom: 0;
  top: auto;
  transition: 1s;
  
}
.adesivo .plasticoFrente .circulo{
  border: 1px solid #3f2301;
}

.adesivo .plasticoTraz{
  top: 30px;
  transition: 1s;
}
.adesivo .plasticoTraz .circulo{
  transition: 1s;
  border: 1px solid #3f2301;
  
}
.adesivo:hover .plasticoTraz {
  height: 90px;
  top: 110px;
  transition: 1s;
}
.adesivo:hover .plasticoTraz .circulo{
  margin-top: -50px;
  transition: 1s;
}


.adesivo:hover .plasticoFrente{
  height: 70px;
  transition: 1s;
}
.adesivo:hover .plasticoFrente .circulo{
  margin-top: -90px;
  transition: 1s;
  background-color: #bf7d2c;
  background-position: 0 100px;
}

